*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Kumbh Sans', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;

    background-image: linear-gradient(80deg,hsl(240, 73%, 65%), hsl(273, 75%, 66%));

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem .7rem 1rem;
}

main{
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
    background: #fff;

    border-radius: 1.3rem;

    margin: 0 auto;
    padding: 1.2rem 1.2rem 3rem;

    text-align: center;

    width: min(70vw, 700px);
}

.invisible{
    display: none;
    visibility: hidden;
}

.rotate{
    transform: rotate(180deg);
}

.image{
    margin: 0 auto;
    background: transparent;

    width: 20rem;
    height: auto;

    position: relative;

    margin-bottom: 4rem;
}

.pattern{
    width: 100%;
    height: 104px;

    background: url(../images/bg-pattern-mobile.svg) no-repeat;

    position: absolute;

    top: -1.4rem;
    left: 2.5rem;
}

.woman{
    width: 100%;
    height: 196px;

    background: url(../images/illustration-woman-online-mobile.svg) no-repeat;

    position: absolute;

    top: -6.5rem;
    left: -2rem;
}

.faq-content{
    color: hsl(238, 29%, 16%);
}

.faq-content h1{
    line-height: 3;
    margin-bottom: -1rem;
}

.faq-topics{
    text-align: left;
}

.topics-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topics-title p{
    color: hsl(237, 12%, 33%);
    line-height: 3.4rem;

    font-size: 14px;
}

.topics-title p:hover{
    transition: all .1s ease-in-out;

    color: hsl(14, 88%, 65%);
    cursor: pointer;
}   

.topics{
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.upload-size-hidden-topic{
    color: hsl(240, 3%, 61%);
    font-size: 13px;

    margin: -.1rem auto 1rem;
    font-weight: 400
}

.arrows{
    cursor: pointer;
}

.bold{
    font-weight: 700;
}

@media(min-width:1000px){
    body{
        position: relative;
    }
    
    main{
        width: 1000px;

        display: grid;
        grid-template-columns: 1fr 1fr ;

        overflow: hidden;
    }

    .image{
        width: 100%;
        height: 100%;

    }

    .pattern{
        width: 160%;
        height: 180%;
    
        background: url(../images/bg-pattern-desktop.svg) no-repeat;
        background-position:  left;
        background-size: cover;

        top: -200px;
        left: -340px;
    }   
    
    .woman{
        width: 100%;
        height: 400px;
    
        background: url(../images/illustration-woman-online-desktop.svg) no-repeat;
    
        background-position: center;

        top: 180px;
        left: 140px;
    }

    .box{
        width: 100%;
        height: 400px;
    
        background: url(../images/illustration-box-desktop.svg) no-repeat;
    
        background-position: center;

        position: absolute;

        top: 140px;
        right: 450px;
    }

    .faq-content h1{
        text-align: left;
    }

    .topics-title p{
        color: hsl(237, 12%, 33%);
        line-height: 3.4rem;
    
        font-size: 16px;
    }

    .upload-size-hidden-topic{
        font-size: 14px;
    }
}

@media(min-width:1100px){
    body{
        position: relative;
    }
    
    main{
        width: 1000px;

        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .image{
        width: 100%;
        height: 100%;
    }

    .pattern{
        width: 160%;
        height: 180%;
    
        background: url(../images/bg-pattern-desktop.svg) no-repeat;
        background-position:  left;
        background-size: cover;

        top: -200px;
        left: -400px;
    }   
    
    .woman{
        width: 100%;
        height: 400px;
    
        background: url(../images/illustration-woman-online-desktop.svg) no-repeat;
    
        background-position: center;

        top: 190px;
        left: 160px;
    }

    .box{
        width: 100%;
        height: 400px;
    
        background: url(../images/illustration-box-desktop.svg) no-repeat;
    
        background-position: center;

        position: absolute;

        top: 140px;
        right: 500px;
    }
}